/* Container style */
.container {
    width: 300px;
    margin: 0 auto; /* Center the container */
    text-align: center; /* Center the content */
    position: relative; /* Needed for absolute positioning of the paste icon */
}

/* Logo style */
.logo {
    width: 100px; /* Adjust width as needed */
    height: 100px; /* Adjust height as needed */
    margin-bottom: 10px; /* Add some space between the logo and description */
}

/* Description text style */
.description {
    margin-bottom: 20px; /* Add some space between the description and button */
    color: #888; /* Grey text color */
}

/* Button style */
.button {
    padding: 10px 20px; /* Reduce button padding */
    background-color: #5abcbf; /* Primary color */
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px; /* Reduce font size */
}

.button:hover {
    background-color: #48a9ac; /* Darker shade for hover */
}

/* Summary container style */
.summary {
    margin-top: 20px;
    padding: 10px; /* Reduce padding for the response text */
    border-radius: 5px;
    font-size: 18px; /* Increase font size for the response text */
}

/* Paste icon */
.paste-icon {
    position: absolute;
    bottom: -20px; /* Adjust vertical position as needed */
    left: 10px; /* Adjust horizontal position as needed */
    width: 15px; /* Adjust icon size as needed */
    height: 15px; /* Adjust icon size as needed */
    display: none; /* Hide the icon by default */
    color: #5abcbf; /* Primary color */
}

/* Tick icon */
.tick-icon {
    position: absolute;
    bottom: -20px; /* Adjust vertical position as needed */
    left: 10px; /* Adjust horizontal position as needed */
    width: 15px; /* Adjust icon size as needed */
    height: 15px; /* Adjust icon size as needed */
    display: none; /* Hide the icon by default */
    color: #5abcbf; /* Change color of the tick icon */
}



/* Shimmer effect */
.shimmer {
    position: relative;
    overflow: hidden;
}

.shimmer::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(90, 188, 191, 0), rgba(90, 188, 191, 0.5), rgba(90, 188, 191, 0)); /* Shimmer effect color */
    animation: shimmer 1.5s infinite; /* Adjusted timing for better visibility */
}

@keyframes shimmer {
    100% {
        left: 100%;
    }
}
